@import "variables";
@import "mixins";

body{
	margin: 0;
	padding: 0;
	font-family: "Arial", "Helvetica", "Times new roman";
	font-family: 'Open Sans', Arial, Helvetica, Times new roman, sans-serif;
	section{

		&.labelshop-form-container{
			width: $form-width;
			height: 100%;
			background: $black-bg;
			color: #fff;

			h3{
				font-size: $h3-base-size;
				padding-bottom: $h3-padding-bottom;
				margin: 0;
			}

			h4{
				margin: 0;
    			padding-bottom: $form-container-padding;

    			&.green{
    				color: $color-green;
    			}
			}			

			a{
				text-decoration: none;
			}

			p{
				font-size: $font-size-base - 2;
				margin: 0;
			}

			label{
				font-size: $label-font-size;
				padding-bottom: $padding-label-bottom;
				display: block;

				&.white{
					color: white;
				}

				&.green{
					color: $color-green;
				}
			}

			input{
				width: 100%;
				margin-bottom: 15px;
				padding: 7px;
				font-size: $font-size-base + 1;
			
				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    				color:    $input-placeholder-grey;
   					font-style: italic;
   					font-size: $input-size-base;
				}
			
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    				color:    $input-placeholder-grey;
   					opacity:  1;
   					font-style: italic;
   					font-size: $input-size-base;
				}
			
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
    				color:    $input-placeholder-grey;
   					opacity:  1;
   					font-style: italic;
   					font-size: $input-size-base;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
    				color:    $input-placeholder-grey;
   					font-style: italic;
   					font-size: $input-size-base;
				}

				&:focus{
					outline: none;
  					background: #fff;
  					border: 2px solid #1aaf8f;
				}

				&.name{
					width: 95%;
				}
			}					

			select{
				height: 30px;
    			width: 100%;
    			border: 0;
    			outline: 1px inset white; 
    			outline-offset:-1px;
    			font-size: 15px;
				padding: 7px;
				margin-bottom: 15px;
				color: $color-green;
			}

			textarea[name=special-details]{
				width: 100%;
				height: $textarea-base-height;
				resize: none;
				margin-top: $form-container-padding;
				padding: $form-container-padding - 5;
				font-size: $quotes-container-font-size - 3;
				display: none;
				color: $input-placeholder-grey;

				&:focus{
    				outline: none;
    				color: black;
				}
			}

			ul{ 
				list-style: none;
				padding: 0;
				margin: 0;

				li{
					padding: 10px 0 0;
					display: inline-block;
					color: #000;

					span{
						vertical-align: super;
						font-size: $quotes-container-font-size;

						&.quote-labels{
							padding: 0 5px;
							font-weight: $quote-labels-font-weight;
						}

						&.quote-values{
							font-weight: $value-labels-font-weight;								
						}
					}
				}
			}			

			.grey-form-container{
				background: $grey-container-bg;
				padding: $form-container-padding;
				margin-bottom: $form-container-padding + 5;

				.dimensions-form{

					input{
						width: 89%;
					}

					img, input{
						float: left;
						display: inline-block;
					}			
				}

				.credit-card-form-container{
					width: 21.3%;
					margin-right: 15px;

					&:last-child{
						margin-right: 0;
					}
				}

				.credit-card-form-container,.credit-card-form-container{
					float: left;
					display: inline-block;
				}

				.expire-card-date-container{
					width: 30%;
					margin-right: 15px;	

					input{
						height: 31px;
					}	
					
					&:last-child{
						margin-right: 0;
						margin-top: -22px;
					}		
				}

				.expire-card-date-container,.expire-card-date-container{
					float: left;
					display: inline-block;
				}

			}

			.select-form-container{
				padding-bottom: $form-container-padding * 2;
			}

			.quote-form-container{
				padding: $form-container-padding;
				background: $quote-bg-grey;
				margin-bottom: 25px;

				.quote-order-icons{
					width: 24px;
					height: 24px;
				}

				.quote-order-icons, .quote-labels{
					float: left;
					display: inline-block
				}

				h1{
					margin: 0;
					font-size: 27px;
					font-weight: 100;
					color: $color-green;					
				}

				.quote-green{
					background-color: $color-green;
					margin: $form-container-padding -10px -10px;
    				padding: 0 $form-container-padding 0;

    				.quote-green-content{
    					width: $form-width - 100;
    					padding-left: $form-container-padding;
    					padding-bottom: 11px;

    					span{
    						line-height: 12px;
    						color: #fff;
    						font-weight: 500;
    					}
    				}
				}
			}
		}

		.order-details-container{
			padding-bottom: $container-padding-base;

			.order-add-img-container{
				
				.imported-img{
					width: 110px;
					height: 73px;
					background-color: $color-green;
					display: none;
				}
			}

			.order-details-img{
				width: 30px;
				height: 30px;
				margin-right: 18px;
			}

			.order-details-content{
				font-size: $label-font-size + 1;
				max-width: 130px;

				p.cost-contact-info{
    				width: 160px;
    				font-size: $label-font-size - 1;
				}

				&.back-link{

					padding-top: 10px;

					a{

						font-size: $font-size-base + 1;
    					font-weight: 600;
    					letter-spacing: 1px;
						text-decoration: none;
    					font-weight: $font-weight-600;
    					color: $color-orange;
						@include transition (0.5s);

    					&:hover{
    						color: darken($color-orange, 15%);
							@include transition (0.5s);
    					}
					}
				}

				&.save-quote{
					width: 100%;
					@extend .back-link;
					padding-top: 12px;
				}
			}


			.order-details-img-confirmed{
				padding-bottom: $form-container-padding;
				font-weight: $font-weight-600;
				display: none;
				letter-spacing: 1px;

				span{
					font-size: 18px;
				}
			}

			.order-details-img, .order-add-img-container, .order-details-content{
				float: left;
				display: inline-block;
			}
		}
	}
}
