//Color values
$grey-container-bg: #393939;
$black-bg: #202020;
$color-orange: #dd7735;
$color-green: #1aaf8f;

//Layout values
$form-height: 370px;
$form-width: 330px;

//padding values
$padding-label-bottom: 5px;
$form-container-padding: 10px;

//Typography Values 
$label-font-size: 13px;