body { 
	margin: 0; 
	padding: 0; 
	font-family: 'Open Sans', Arial, Helvetica, Times new roman, sans-serif; 
}

body section.labelshop-form-container { 
	width: 330px; 
	height: 100%; 
	background: #202020; 
	color: #fff; 
}

body section.labelshop-form-container h3 { 
	font-size: 18px; 
	padding-bottom: 15px; 
	margin: 0; 
}

body section.labelshop-form-container h4 { 
	margin: 0; 
	padding-bottom: 10px; 
}

body section.labelshop-form-container h4.green { 
	color: #1aaf8f; 
}

body section.labelshop-form-container a { 
	text-decoration: none; 
}

body section.labelshop-form-container p { 
	font-size: 13px; 
	margin: 0; 
}

body section.labelshop-form-container label { 
	font-size: 12px; 
	padding-bottom: 7px; 
	display: block; 
}

body section.labelshop-form-container label.white { 
	color: white; 
}

body section.labelshop-form-container label.green { 
	color: #1aaf8f; 
}

body section.labelshop-form-container input { 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 7px; 
	font-size: 16px; 
}

body section.labelshop-form-container input::-webkit-input-placeholder {
 	color: #959595; 
 	font-style: italic; 
 	font-size: 13px; 
}

body section.labelshop-form-container input:-moz-placeholder { 
	color: #959595; 
	opacity: 1; 
	font-style: italic; 
	font-size: 13px; 
}

body section.labelshop-form-container input::-moz-placeholder { 
	color: #959595; 
	opacity: 1; 
	font-style: italic; 
	font-size: 13px; 
}
body section.labelshop-form-container input:-ms-input-placeholder { 
	/* Internet Explorer 10-11 */ 
	color: #959595; 
	font-style: italic; 
	font-size: 13px; 
}

body section.labelshop-form-container input:focus { 
	outline: none; 
	background: #fff; 
	border: 2px solid #1aaf8f; 
}

body section.labelshop-form-container input.name { 
	width: 95%; 
}

body section.labelshop-form-container select { 
	height: 30px; 
	width: 100%; 
	border: 0; outline: 1px inset white; 
	outline-offset: -1px; 
	font-size: 15px; 
	padding: 7px; 
	margin-bottom: 15px; 
	color: #1aaf8f; 
}

body section.labelshop-form-container textarea[name=special-details] { 
	width: 100%; 
	height: 80px; 
	resize: none; 
	margin-top: 10px; 
	padding: 5px; 
	font-size: 12px; 
	display: none; 
	color: #959595; 
}

body section.labelshop-form-container textarea[name=special-details]:focus { 
	outline: none; 
	color: black; 
}
body section.labelshop-form-container ul { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
}

body section.labelshop-form-container ul li { p
	adding: 10px 0 0; 
	display: inline-block;
	color: #000; 
}

body section.labelshop-form-container ul li span { 
	vertical-align: super; 
	font-size: 15px; 
}

body section.labelshop-form-container ul li span.quote-labels { 
	padding: 0 5px; 
	font-weight: 400; 
}

body section.labelshop-form-container ul li span.quote-values { 
	font-weight: 600; 
}

body section.labelshop-form-container .grey-form-container { 
	background: #393939; 
	padding: 10px; 
	margin-bottom: 15px; 
}

body section.labelshop-form-container .grey-form-container .dimensions-form input { 
	width: 89%; 
}
body section.labelshop-form-container .grey-form-container .dimensions-form img, body section.labelshop-form-container .grey-form-container .dimensions-form input { 
	float: left;
	display: inline-block; 
}

body section.labelshop-form-container .grey-form-container .credit-card-form-container { 
	width: 21.3%; 
	margin-right: 15px; 
}

body section.labelshop-form-container .grey-form-container .credit-card-form-container:last-child { 
	margin-right: 0; 
}

body section.labelshop-form-container .grey-form-container .credit-card-form-container, body section.labelshop-form-container .grey-form-container .credit-card-form-container { 
	float: left; 
	display: inline-block; 
}

body section.labelshop-form-container .grey-form-container .expire-card-date-container { 
	width: 30%; 
	margin-right: 15px; 
}

body section.labelshop-form-container .grey-form-container .expire-card-date-container input { 
	height: 31px; 
}

body section.labelshop-form-container .grey-form-container .expire-card-date-container:last-child { 
	margin-right: 0; 
	margin-top: -22px; 
}

body section.labelshop-form-container .grey-form-container .expire-card-date-container, body section.labelshop-form-container .grey-form-container .expire-card-date-container { 
	float: left; 
	display: inline-block; 
}

body section.labelshop-form-container .select-form-container { 
	padding-bottom: 20px; 
}

body section.labelshop-form-container .quote-form-container { 
	padding: 10px; 
	background: #dcdcdc;
	margin-bottom: 25px; 
}

body section.labelshop-form-container .quote-form-container .quote-order-icons { 
	width: 24px; 
	height: 24px; 
}

body section.labelshop-form-container .quote-form-container .quote-order-icons, body section.labelshop-form-container .quote-form-container .quote-labels { 
	float: left; 
	display: inline-block; 
}

body section.labelshop-form-container .quote-form-container h1 { 
	margin: 0; 
	font-size: 27px; 
	font-weight: 100; 
	color: #1aaf8f; 
	text-align: right;
}

body section.labelshop-form-container .quote-form-container h3 { 
	color:#1aaf8f;
}

body section.labelshop-form-container .quote-form-container .quote-green { 
	background-color: #1aaf8f; 
	margin: 10px -10px -10px; 
	padding: 0 10px 0; 
}

body section.labelshop-form-container .quote-form-container .quote-green .quote-green-content { 
	width: 230px; 
	padding: 10px;
}

body section.labelshop-form-container .quote-form-container .quote-green .quote-green-content span { 
	line-height: 12px; 
	color: #fff; 
	font-weight: 500; 
}


body section.labelshop-form-container .quote-grey { 
    background-color: #dcdcdc;
    margin: 10px -10px 0px;
    padding: 8px 10px 0;
    border-top: 1px solid black;
}

body section.labelshop-form-container .quote-grey span { 
    font-size: 11px;
    color: #2d2d2d;
}

body section.labelshop-form-container .quote-grey .gear-icon-small { 
	vertical-align: middle;
    padding-right: 10px;
}

body section .order-details-container { 
	padding-bottom: 25px; 
}

body section .order-details-container .order-add-img-container .imported-img { 
	width: 110px; 
	height: 73px; 
	background-color: #1aaf8f; 
	display: none; 
}

body section .order-details-container .order-details-img { 
	width: 30px; 
	height: 30px; margin-right: 18px; }
body section .order-details-container .order-details-content { 
	font-size: 13px; 
	max-width: 130px; 
}

body section .order-details-container .order-details-content p.cost-contact-info { 
	width: 160px; 
	font-size: 11px; 
}

body section .order-details-container .order-details-content.back-link, body section .order-details-container .order-details-content.save-quote { 
	padding-top: 10px; 
}

body section .order-details-container .order-details-content.back-link a, body section .order-details-container .order-details-content.save-quote a { 
	font-size: 16px; 
	font-weight: 600; 
	letter-spacing: 1px; 
	text-decoration: none; 
	font-weight: 600; 
	color: #e57c38; 
	-webkit-transition: 0.5s; 
	transition: 0.5s; 
}

body section .order-details-container .order-details-content.back-link a:hover, body section .order-details-container .order-details-content.save-quote a:hover { 
	color: #b85718; 
	-webkit-transition: 0.5s; 
	transition: 0.5s; 
}

body section .order-details-container .order-details-content.save-quote { 
	width: 100%; 
	padding-top: 12px; 
}

body section .order-details-container .order-details-img-confirmed-msg { 
	padding-bottom: 10px; 
	font-weight: 600; 
	display: none; 
	letter-spacing: 1px; 
}

body section .order-details-container .order-details-img-confirmed-msg span { 
	font-size: 18px; 
}

body section .order-details-container .order-details-img, body section .order-details-container .order-add-img-container, body section .order-details-container .order-details-content { 
	float: left; 
	display: inline-block; 
}


.btn { 
	padding: 10px 0 0; 
	color: white; 
	text-align: center; 
	text-decoration: none; 
	-webkit-transition: 0.5s; transition: 0.5s; 
	height: 28px; font-weight: 600; 
	letter-spacing: 1px; 
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45); 
}

.btn:hover { 
	cursor: pointer; 
}

.btn span img { 
	vertical-align: middle; 
	float: right; 
	padding-right: 10px; 
	margin-top: 2px; 
}

.btn.btn-orange { 
	background-color: #e57c38; 
}

.btn.btn-orange:hover { 
	background-color: #ac161c; 
	-webkit-transition: 0.2s; 
	transition: 0.2s;
}

.btn.btn-green { 
	background-color: #1aaf8f; 
}

.btn.btn-green:hover { 
	background-color: #17997d; 
	-webkit-transition: 0.2s; transition: 0.2s; 
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5); 
}

.btn-instant { 
	width: 185px; 
	padding-bottom: 5px; 
}

.btn-details-lg { 
	width: 120px; 
}

.btn-details-xl { 
	width: 220px; 
}

.btn-details-sm { 
	width: 51px; 
	height: 28px; 
	margin-left: 10px; 
	-webkit-transition: 0.2s; 
	transition: 0.2s; 
	border: 2px solid #e57c38; 
	box-shadow: inset 0 0 0 transparent; 
}

.btn-details-sm:hover { 
	background-color: transparent !important; 
	box-shadow: inset 0 0 0 transparent; 
	border: 2px solid #e57c38; 
	-webkit-transition: 0.2s; 
	transition: 0.2s; 
}

.table-container { 
	display: table; 
	width: 100%; 
}

.table-container .table-cell { 
	display: table-cell; 
}

.center-block { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.align-bottom { 
	vertical-align: bottom; 
}

.align-super { 
	vertical-align: super; 
}

.float-right { 
	float: right; 
}

.text-align-center { 
	text-align: center; 
}

.center-block { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.align-bottom { 
	vertical-align: bottom; 
}

.align-super { 
	vertical-align: super; 
}

.float-right { 
	float: right; 
}

.text-align-center { 
	text-align: center; 
}

.progress-bar-wrapper { 
	width: 99%; 
	height: 18px; 
	background-color: #393939; 
	padding: 3px; 
	border-radius: 4px; 
	color: #000; 
}
.progress-bar-wrapper .progress-bar-fill, .progress-bar-wrapper .progress-bar-fill-66 { 
	height: 100%; 
	display: block; 
	background-color: #1aaf8f; 
	border-radius: 4px; 
	width: 0; 
	-webkit-transition: 0.5s; 
	transition: 0.5s; 
}
.progress-bar-wrapper .progress-bar-fill span, .progress-bar-wrapper .progress-bar-fill-66 span { 
	float: right; 
	padding: 1px 4px; 
	font-size: 13px; 
}

.progress-bar-wrapper .progress-bar-fill-66 { 
	width: 33%; 
}

.progress-bar-wrapper .progress-bar-fill-66 span { 
	float: right; 
	padding: 1px 4px; 
	font-size: 13px; 
}

.progress-bar-wrapper .progress-bar-fill, .progress-bar-wrapper .progress-bar-fill-100 { 
	height: 100%; 
	display: block; 
	background-color: #1aaf8f; 
	border-radius: 4px; 
	width: 0; 
	-webkit-transition: 0.5s; 
	transition: 0.5s; 
}
.progress-bar-wrapper .progress-bar-fill span, .progress-bar-wrapper .progress-bar-fill-100 span { 
	float: right; 
	padding: 1px 4px; 
	font-size: 13px; 
}

.progress-bar-wrapper .progress-bar-fill-100 { 
	width: 66%; 
}

.progress-bar-wrapper .progress-bar-fill-66 span { 
	float: right; 
	padding: 1px 4px; 
	font-size: 13px; 
}

