.btn { padding: 10px 0 0; color: white; text-align: center; text-decoration: none; -webkit-transition: 0.5s; transition: 0.5s; letter-spacing: 1.5px; }
.btn:hover { cursor: pointer; }
.btn.btn-orange { background-color: #e57c38; }
.btn.btn-orange:hover { background-color: #cf621b; -webkit-transition: 0.2s; transition: 0.2s; }
.btn.btn-green { background-color: #1aaf8f; }
.btn.btn-green:hover { background-color: #13836b; -webkit-transition: 0.2s; transition: 0.2s; }

.btn-instant { width: 185px; height: 30px; }

.btn-details-lg { width: 120px; height: 30px; }

.btn-details-sm { width: 55px; height: 30px; }
.btn-details-sm.empty { background-color: transparent; border: 2px solid #e57c38; height: 26px; margin-right: 7px; }
.btn-details-sm.empty:hover { background-color: #e57c38, 20%; }

.table-container { display: table; width: 100%; }
.table-container .table-cell { display: table-cell; width: 100%; }

body { margin: 0; padding: 0; font-family: "Helvetica", "Arial", "Times new roman"; }
body section { padding: 10px 0 15px; }
body section.labelshop-form-container { /*width: 330px;*/ height: 100%; background: #202020; color: #fff; }
body section.labelshop-form-container p { font-size: 13px; margin: 0; padding-bottom: 15px; }
body section.labelshop-form-container h3 { font-size: 20px; padding-bottom: 15px; margin: 0; }
body section.labelshop-form-container label { font-size: 12px; padding-bottom: 5px; display: block; }
body section.labelshop-form-container label.white { color: white; }
body section.labelshop-form-container label.green { color: #1aaf8f; }
body section.labelshop-form-container input { width: 100%; margin-bottom: 15px; padding: 7px; font-size: 16px; }
body section.labelshop-form-container input::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color: #959595; font-style: italic; font-size: 13px; }
body section.labelshop-form-container input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #959595; opacity: 1; font-style: italic; font-size: 13px; }
body section.labelshop-form-container input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #959595; opacity: 1; font-style: italic; font-size: 13px; }
body section.labelshop-form-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #959595; font-style: italic; font-size: 13px; }
body section.labelshop-form-container input:focus { outline: none; background: #fff; box-shadow: inset 0 0 14px #cccccc; }
body section.labelshop-form-container select { height: 30px; width: 100%; border: 0; outline: 1px inset white; outline-offset: -1px; font-size: 15px; padding: 7px; margin-bottom: 15px; color: #1aaf8f; }
body section.labelshop-form-container .grey-form-container { background: #393939; padding: 10px 15px; }
body section.labelshop-form-container .select-form-container { padding-top: 15px; padding-bottom: 20px; }
body section.labelshop-form-container .quote-form-container { padding: 10px; background: #dcdcdc; margin-bottom: 25px; }
body section.labelshop-form-container .quote-form-container .quote-order-icons { width: 24px; height: 24px; background-color: #000; }
body section.labelshop-form-container .quote-form-container h1 { margin: 0; font-size: 27px; font-weight: 100; color: #1aaf8f; }
body section.labelshop-form-container .quote-form-container ul { list-style: none; padding: 0; margin: 0; }
body section.labelshop-form-container .quote-form-container ul li { padding: 10px 0 0; display: inline-block; color: #000; }
body section.labelshop-form-container .quote-form-container ul li span { vertical-align: super; font-size: 15px; }
body section.labelshop-form-container .quote-form-container ul li span.quote-labels { padding: 0 5px; font-weight: 400; }
body section.labelshop-form-container .quote-form-container ul li span.quote-values { font-weight: 600; }
body section.labelshop-form-container .quote-form-container .quote-green { background-color: #1aaf8f; margin: 10px -10px -10px; padding: 3px 10px 0; }
body section.labelshop-form-container .quote-form-container .quote-green .quote-green-content { width: 230px; padding-left: 10px; padding-bottom: 11px; }
body section .order-details-container { padding-bottom: 25px; }
body section .order-details-container .order-add-img-container .imported-img { width: 110px; height: 70px; background-color: #1aaf8f; display: none; }
body section .order-details-container .order-details-img { width: 30px; height: 30px; background-color: #1aaf8f; margin-right: 18px; }
body section .order-details-container .order-details-content { font-size: 13px; max-width: 130px; }
body section .order-details-container .order-details-content p.cost-contact-info { width: 220px; }
body section .order-details-container .order-details-button { float: right; }
body section .order-details-container .order-details-button .order-details-img-confirmed { padding-bottom: 10px; font-weight: 600; display: none; }
body section .order-details-container textarea[name=special-details] { width: 100%; height: 80px; resize: none; margin-top: 10px; padding: 5px; font-size: 15px; display: none; color: #959595; }
body section .order-details-container textarea[name=special-details]:focus { outline: none; color: black; }
body section .order-details-container .order-details-img, body section .order-details-container .order-add-img-container, body section .order-details-container .order-details-content { float: left; display: inline-block; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.align-bottom { vertical-align: bottom; }

.align-super { vertical-align: super; }
/*# sourceMappingURL=main.css.map */